<div id="job-view-container" class="container">
    <div class="row text-center">
        <a href="/" class="back-link main-color">Voltar</a>
        <div id="img-container" class="col-md-12">
            <img src="/img/logo.png" alt="Company">
        </div>
        <div class="col-md-12">
            <h1 class="main-color">{{job.dataValues.title}}</h1>
            <p class="bold">O que eles buscam:</p>
            <p class="Job-desc">{{job.dataValues.description}}</p>
            <p>
                <span class="bold">O salário informado é de:</span> R${{job.dataValues.salary}}
            </p>
            <p>
                Para trabalhar na <span class="bold main-color">{{job.dataValues.company}}</span>, envie um email para <a class="main-color" href="mailto:{{job.dataValues.email}}">{{job.dataValues.email}}</a>
            </p>
        </div>
    </div>
</div>
<!-- Adicionar jQuery (não é mais obrigatório para Bootstrap 5, mas pode ser útil para outras funcionalidades) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Adicionar o JavaScript do Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

